.file-upload-container{
    display: flex;
    gap: 50px;
    justify-content: center;
    vertical-align: middle;
    text-align: center;
}

.file-upload-container h4{
    margin: 0;
    line-height: 108px;
}

.file-upload-container input{
    margin: auto;
}
.slideshow-image-preview {
    max-height: 100%;
    max-width: 100%;
    width: auto;
    height: auto;
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    margin: auto;
}

.slideshow-image-preview-container {
    width: 192px;
    height: 108px;
    
    position: relative;

}